html { overflow-y: scroll; overflow-x:hidden;}

h1 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  object-fit: contain;
}

.HomePageProfile{
  width: 18em;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  object-fit: auto;
}

.UW {
  text-align: center;
  margin-top: 15px;
  font-size: 25px;
}

.Major {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;

}

.github {
  margin-top: 20px;
  text-align: center;
  decoration: none;
  hover:
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
    font-family: "Lato", sans-serif;
    overflow:hidden;
    transition: background-color .5s;
    background-color: white;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 10px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}

.menulist {
    width:225px;
}

.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:7px;
  background-color:black;
  width:45px;
  height:7px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:black;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:black;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:black;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: white;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 3px;
  background: black;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color: white;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}

.copyright {
  bottom: 0em;
  margin-top: 2em;
  height: 6em;
  left: 0;
  text-align: center;
  width: 100%;
}

.tennisrules{
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
   color: white;
}

.breakoutheader {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
}

.menugame ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.menugame li {
  float: left;
}

.menugame li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.menugame li :hover {
  text-decoration: underline;
}
